.card {
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card:hover .card-text {
  display: none;
}
a{
  text-decoration: none;
  color: rgb(33, 17, 17);
  background-color: rgb(245, 245, 245);
}

.container{
position: relative;
// width: 80vw;
height: 100vh;
}