.card-red {
  background-color: red;
  color: white;
  /* Change text color to white for better readability */
}

.card-blue {
  background-color: blue;
  color: white;
  /* Change text color to white for better readability */
}

.card-green {
  background-color: green;
  color: white;
  /* Change text color to white for better readability */
}