.button-90 {
  background-color: rgb(218, 29, 29);
  border: none;
  border-radius: 0%;
}

/* Target input field with type "number" */
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
}
tbody{
  position: relative;
  height: 50vh;
}
