.recipe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px;
  margin-top: 140px;

}

.container{
  margin-right: 0px;
  margin-top: 10px;

 
}
.recipe-item {
  text-align: center;
}

.recipe-item img {
  width: 100%;
  height: auto;
}

img{
  width: 80%;
  height: 70%;  
  border-radius: 0;
  transition: transform 0.3s ease-in-out;
  border-radius: 5%;
  }
 

img:hover {
  transform: scale(1.1); 
  z-index: 33;
  border-radius: 0%;
}
.row{
  margin-right: 0px;
}
nav {
  background-color: rgba(0, 0, 0, 0.799);
  height: 130px;
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 1000; 
}
.filter{
display: flex;
gap: 20px;
margin-left: 10px;
}
.search-div{
  margin: 20px;
  margin-bottom: 0;
  
}
.ee{
width: 300px;
height: 30px;
border-radius: 40px;
border: none;
background-color: rgba(0, 0, 0, 0.237);
}
/* Add styling for the search input */
.search-container {
  margin: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px; /* Adjust max-width as needed */
  padding: 8px;
  border: 1px solid #030202;
  border-radius: 4px;
  box-sizing: border-box;
  color: #eaeaea;
  font-size: 16px;
  background-color: #030202;
}


.search-button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

/* Style for displaying search results */
.search-results {
  margin-top: 20px;
}

/* Style for individual search result items */
.search-result-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9; /* Light background color */
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
.container{
  position: relative;
  // width: 80vw;
  height: 70vh;
  }


  .calorie-input {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .calorie-input:focus {
    outline: none;
    border-color: #007bff; /* Change to your desired focus color */
  }
  .custom-button{
    height: 26px;
    margin-left: 20px;
  }
  label{
    color: #ccc;
    margin-left: 30px;
  }
  .calorie-range-container input[type="number"] {
    color: rgb(224, 92, 92); /* Change to the color you want */
    background-color: #030202;
    border: 1px solid #030202;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
  }
  mat-paginator{
    margin-top: 80px;
    // margin-bottom: 20px;
  }

  .toggle-button{
    background-color: #03020211;
    border: none;
    height: 39px;
    width:auto
  }
  .calorie-range{
    color:#ccc;
  }