nav {
  position: fixed;
  width: 85%;
  z-index: 123;
  background-color: rgb(255, 119, 88);
}

// img {
//   margin-right: 30px;
// }

.span-s {
  margin-right: 20px;
}


// .dropdown-menu {
//   margin-right: 50px;
// }


