<div>
  <app-header></app-header>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2"> 
      <div class="sidebar custom-sidebar">
        <ul>
          <button class="button-5-active" routerLink="/admin" >Home</button>  
          <button class="button-5" routerLink="/user-view">Users</button>  
          <button class="button-5" routerLink="/admin-trainer-view">Trainers</button>  
          <button class="button-5" routerLink="/recipe-add">Add custom Recipe</button>  
          <button class="button-5" routerLink="/recipe-manage" >Manage recipe</button>  
          <button class="button-5" routerLink="/plan-management" >Manage plans</button>  
          <button class="button-5">------</button>  
        </ul>
      </div>
      
    </div>
    <div class="col-md-10">
      <div class="trainer-heading">
        <h1>Admin Dashboard</h1>
      </div>
      <div class="image-with-quotes">
        <img src="https://thumbs.dreamstime.com/z/admin-office-binder-wooden-desk-table-colored-pencil-pencils-pen-notebook-paper-79046621.jpg?ct=jpeg">
        <blockquote>
          "Life is a tragedy of nutrition."– Arnold Ehret. "These small things – nutrition, place, climate, recreation, the whole casuistry of selfishness – are inconceivably more important than everything one has taken to be important so far.
        </blockquote>
      </div>
      <div>
        <canvas id="myChart" width="200" height="200"></canvas>
      </div>
    </div>
  </div>
</div>
</div>