// .container{
//   display:inline-block;
// }
.trainer-heading h1 {
  margin-top: 10px;
  font-size: 36px; /* Adjust font size as needed */
  font-weight: bold;
  color: #333; /* Adjust color as needed */
  display: flex;
  justify-content: center;
}

.image-with-quotes {
  // margin-top: 90px; /* Adds top margin to the image */
  text-align: center; /* Centers the image and quote */
}

.image-with-quotes img {
  max-width: 90%; /* Ensures the image fits within its container */
  height: 300px; /* Sets the height of the image */
  width: 90%; /* Sets the width of the image to fill its container */
  object-fit: cover; /* Ensures the image covers the entire container */
  border-radius: 10px; /* Adds rounded corners to the image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow to the image */
}


.image-with-quotes blockquote {
  margin-top: 20px; /* Adds space between the image and the quote */
  font-size: 18px; /* Adjusts the font size of the quote */
  font-style: italic; /* Makes the quote italic */
  color: #333; /* Sets the color of the quote text */
}

/* Optional: Hover effect for the image */
.image-with-quotes img:hover {
  transform: scale(1.05); /* Increases the size of the image on hover */
  transition: transform 0.3s ease; /* Adds a smooth transition effect */
}

.trainer-heading {
  margin-bottom: 20px; /* Adjust margin as needed */
}
